/*
  For the element which has states 'focus', 'hover', 'active
  Default Behavior is canceled.
  When active, hover, focused, darkened.
  need .active
*/

@each $color-name, $color in $theme-colors {
  @include btn($color-name);
}

@each $color, $value in $theme-colors {
  .d-btn-#{$color} {
    background-color: $value;
    color: color-yiq($value);

    &:hover {
      background-color: darken($value, 10%);
    }
  }
}

.d-btn-xs {
  @include btn-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-line-height-xs)
}

.d-btn-sm {
  @include btn-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm)
}

.d-btn-narrow {
  @include btn-size($btn-padding-y-narrow, $btn-padding-x-narrow, $btn-font-size-narrow, $btn-line-height-narrow)
}
