@each $color, $value in $colors {
  .ec-bg-#{$color} {
    background-color: $value !important;
  }
  .ec-bg-#{$color}-hover {
    background-color: $value !important;

    &:hover {
      background-color: darken($value, 10%) !important;
    }
  }
}