$property-name: overflow;
@each $value in (hidden, scroll, auto, visible) {
  .#{$property-name}-#{$value} {
    #{$property-name}: $value !important;
  }
}

$property-name: overflow-x;
@each $value in (hidden, scroll, auto, visible) {
  .#{$property-name}-#{$value} {
    #{$property-name}: $value !important;
  }
}

$property-name: overflow-y;
@each $value in (hidden, scroll, auto, visible) {
  .#{$property-name}-#{$value} {
    #{$property-name}: $value !important;
  }
}