
.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-scroll-auto {
  overflow: auto;
}

.overflow-scroll-x-auto {
  overflow-x: auto;
}

.overflow-scroll-y-auto {
  overflow-y: auto;
}