$i: 5;
@while $i < 50 {
  .width-#{$i} {
    width: #{$i}px !important;;
  }
  .height-#{$i} {
    height: #{$i}px !important;
  }
  .max-width-#{$i} {
    max-width: #{$i}px !important;
  }
  .min-width-#{$i} {
    min-width: #{$i}px !important;
  }
  .max-height-#{$i} {
    max-height: #{$i}px !important;
  }
  .min-height-#{$i} {
    min-height: #{$i}px !important;
  }
  $i: $i + 1;
}

$i: 50;
@while $i < 500 {
  .width-#{$i} {
    width: #{$i}px !important;;
  }
  .height-#{$i} {
    height: #{$i}px !important;
  }
  .max-width-#{$i} {
    max-width: #{$i}px !important;
  }
  .min-width-#{$i} {
    min-width: #{$i}px !important;
  }
  .max-height-#{$i} {
    max-height: #{$i}px !important;
  }
  .min-height-#{$i} {
    min-height: #{$i}px !important;
  }
  $i: $i + 5
}

$i: 500;
@while $i < 1500 {
  .width-#{$i} {
    width: #{$i}px !important;;
  }
  .height-#{$i} {
    height: #{$i}px !important;
  }
  .max-width-#{$i} {
    max-width: #{$i}px !important;
  }
  .min-width-#{$i} {
    min-width: #{$i}px !important;
  }
  .max-height-#{$i} {
    max-height: #{$i}px !important;
  }
  .min-height-#{$i} {
    min-height: #{$i}px !important;
  }
  $i: $i + 10
}

@for $i from 1 through 300 {
  .width-#{$i} {
    width: #{$i}px !important;;
  }
  .height-#{$i} {
    height: #{$i}px !important;
  }
  .max-width-#{$i} {
    max-width: #{$i}px !important;
  }
  .min-width-#{$i} {
    min-width: #{$i}px !important;
  }
  .max-height-#{$i} {
    max-height: #{$i}px !important;
  }
  .min-height-#{$i} {
    min-height: #{$i}px !important;
  }
}