@mixin link-row($color-name) {
  .link-row-#{$color-name} {
    text-decoration: none !important;
    display: inline-block;
    outline: none;

    &:hover, &:focus {
      background-color: darken(color($color-name), 10%);
    }

    &.active {
      background-color: darken(color($color-name), 10%);

      &:hover, &:focus {
        background-color: darken(color($color-name), 20%);
      }
    }
  }
}

@each $color-name, $color in $colors {
  @include link-row($color-name);
}

.link-row {
  text-decoration: none !important;
  display: inline-block;
  outline: none;

  &:hover, &:focus {
    background-color: darken(white, 10%);
  }

  &.active {
    background-color: darken(white, 10%);

    &:hover, &:focus {
      background-color: darken(white, 20%);
    }
  }

}
