$i: 0;
@while $i <= 1500 {
  .width-#{$i}px {
    width: #{$i}px !important;;
  }
  .height-#{$i}px {
    height: #{$i}px !important;
  }
  .max-width-#{$i}px {
    max-width: #{$i}px !important;
  }
  .min-width-#{$i}px {
    min-width: #{$i}px !important;
  }
  .max-height-#{$i}px {
    max-height: #{$i}px !important;
  }
  .min-height-#{$i}px {
    min-height: #{$i}px !important;
  }
  $i: $i + 10;
}