@mixin padding-variant($i) {
  .pt-#{$i}px {
    padding-top: #{$i}px !important;
  }

  .pr-#{$i}px {
    padding-right: #{$i}px !important;
  }

  .pb-#{$i}px {
    padding-bottom: #{$i}px !important;
  }

  .pl-#{$i}px {
    padding-left: #{$i}px !important;
  }

  .px-#{$i}px {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .py-#{$i}px {
    padding-bottom: #{$i}px !important;
    padding-top: #{$i}px !important;
  }

  .py-#{$i}px {
    padding-bottom: #{$i}px !important;
    padding-top: #{$i}px !important;
  }

  .p-#{$i}px {
    padding: #{$i}px !important;
  }
}

@mixin margin-variant($i) {
  .mt-#{$i}px {
    margin-top: #{$i}px !important;
  }

  .mr-#{$i}px {
    margin-right: #{$i}px !important;
  }

  .mb-#{$i}px {
    margin-bottom: #{$i}px !important;
  }

  .ml-#{$i}px {
    margin-left: #{$i}px !important;
  }

  .mx-#{$i}px {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }

  .my-#{$i}px {
    margin-bottom: #{$i}px !important;
    margin-top: #{$i}px !important;
  }

  .my-#{$i}px {
    margin-bottom: #{$i}px !important;
    margin-top: #{$i}px !important;
  }

  .m-#{$i}px {
    margin: #{$i}px !important;
  }
}

$i: 0;
@while $i <= 1000 {
  @include padding-variant($i);
  @include margin-variant($i);
  $i: $i + 1;
}