$i: 0;
@while $i <= 75 {
  .width-#{$i * 2}r {
    width: #{$i}rem !important;;
  }
  .height-#{$i * 2}r {
    height: #{$i}rem !important;
  }
  .max-width-#{$i * 2}r {
    max-width: #{$i}rem !important;
  }
  .min-width-#{$i * 2}r {
    min-width: #{$i}rem !important;
  }
  .max-height-#{$i * 2}r {
    max-height: #{$i}rem !important;
  }
  .min-height-#{$i * 2}r {
    min-height: #{$i}rem !important;
  }
  $i: $i + 0.5;
}
