$i: 0;
@while ($i <= 50) {
  .font-size-#{$i}px {
    font-size: #{$i}px !important;
  }
  $i: $i + 2;
}


$property-name: font-size;
@each $value in (xx-small, x-small, small, large, x-large, xx-large, smaller, larger, medium) {
  .#{$property-name}-#{$value} {
    #{$property-name}: $value !important;
  }
}