$property-name: font-size;
$value: 0;
@while ($value <= 50) {
  @include dot-style($property-name, #{$value}px);
  $value: $value + 2;
}


$values: (xx-small, x-small, small, large, x-large, xx-large, smaller, larger, medium);
@include dot-styles($property-name, $values)