@mixin golden-ratio($font-size, $width) {
  font-size: #{$font-size}px !important;
  line-height: #{goldenRatio($font-size, $width)}px !important;
  margin-top: #{$font-size}px !important;
  margin-bottom: #{goldenRatio($font-size, $width)}px !important;
}


$i: 8;
@while ($i <= 50) {
  .gr-#{$i}px {
    @include golden-ratio($i, 400)
  }
  $i: $i + 2;
}