$i: 0;
@while $i <= 50 {
  .y-#{$i * 2}r {
    top: #{$i}rem;
    bottom: #{$i}rem;
  }

  .x-#{$i * 2}r {
    left: #{$i}rem;
    bottom: #{$i}rem;
  }

  .t-#{$i * 2}r {
    top: #{$i}rem;
  }

  .r-#{$i * 2}r {
    right: #{$i}rem;
  }

  .l-#{$i * 2}r {
    left: #{$i}rem;
  }

  .b-#{$i * 2}r {
    bottom: #{$i}rem;
  }

  $i: $i + 0.5
}
