$property-name: z-index;
$value: 0;
@while $value <= 20 {
  @include dot-style($property-name, $value);
  $value: $value + 1
}

$value: 2000;
@while $value <= 2020 {
  @include dot-style($property-name, $value);
  $value: $value + 1
}