/*
  For the element which has states 'focus', 'hover', 'active
  Default Behavior is canceled.
  When active, hover, focused, darkened.
  need .active
*/


@mixin selectable($color-name) {
  .link-row-#{$color-name} {
    text-decoration: none !important;
    outline: none;
    display: inline-block;
    cursor: pointer;

    &:hover, &:focus {
      background-color: darken(color($color-name), 10%);
    }

    &.active {
      background-color: darken(color($color-name), 10%);

      &:hover, &:focus {
        background-color: darken(color($color-name), 20%);
      }
    }
  }
}

@each $color-name, $color in $theme-colors {
  @include link-row($color-name);
}